body {
  margin: 0; /* 기본 여백 제거 */
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #ffffff 10%, #b7ebe5 100%);
  font-family: pretendard;
  overflow-y: hidden;
}

.all {
  margin: 0 auto;
  padding: 0 360px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center; /* 중앙 정렬 */
  flex-direction: column; /* 세로 방향 정렬 */
}

.container {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  width: 100%;
  max-width: none; /* 최대 너비 제한 없애기 */
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0 360px; /* 좌우 여백 */
  position: relative;
  z-index: 10; /* 메뉴가 다른 요소보다 위에 오도록 설정 */
}

ul {
  display: flex;
  display: flex; /* 메뉴를 가로로 나열 */
  gap: 40px; /* 메뉴 간 여백 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  list-style: none; /* 목록 스타일 제거 */
  flex-wrap: nowrap;
}

li {
  list-style: none; /* 목록 앞 기호 제거 */
  padding: 0; /* 기본 패딩 제거 */
  text-decoration: none; /* 밑줄 제거 */
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: var(--Gray-40, #676774);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10; /* 메뉴가 다른 요소보다 위에 오도록 설정 */
}

.logo {
  color: var(--Gray-20, #303036);
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 600;
}

.navbar ul {
  display: flex; /* 메뉴를 가로로 나열 */
  gap: 40px; /* 메뉴 간 여백 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  list-style: none; /* 목록 스타일 제거 */
  flex-wrap: nowrap;
}

.login_txt {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  text-align: center;
  transform: translateY(-10%); /* 텍스트를 위로 20% 올림 */
}

.first_ment {
  color: var(--Gray-20, #303036);
  font-family: Pretendard;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: -15px;
}

.second_ment {
  color: var(--Gray-40, #676774);
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.third_ment {
  color: var(--Gray-60, #a6a6b0);
  /* text-xl/Medium */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.48px;
  padding-top: 150px;
  padding-bottom: 30px;
}

.login_btn {
  display: flex;
}

@media (max-width: 1500px) {
  .all {
    margin-left: 0;
    margin-right: 0; /* 불필요한 margin-right 제거 */
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding: 0 240px; /* 좌우 여백 */
    text-align: center;
  }
}
/* 65, 40, 24 */

.first_ment {
  font-size: 55px;
}
.second_ment {
  font-size: 35px;
}

.third_ment {
  font-size: 19px;
  padding-top: 100px;
}
.login_txt {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  transform: translateY(-10%); /* 텍스트를 위로 20% 올림 */
}

.login_btn {
  display: flex; /* flexbox 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  gap: 20px; /* 아이콘 간 간격 */
}

.login_btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 32px;
  width: 64%;
  height: 58px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: pretendard;
  font-weight: 300;
}

button.login_btn1:hover {
    background-color: #333333;
}

.kakao {
  width: 80%;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 500px) {
  .all {
    margin-left: 0;
    margin-right: 0; /* 불필요한 margin-right 제거 */
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    display: none;
  }

  .first_ment {
    margin-top: 100px;
    font-size: 45px;
  }
  .second_ment {
    font-size: 20px;
  }

  .third_ment {
    font-size: 15px;
    padding-top: 150px;
    margin-bottom: 5px;
  }

  .login_btn {
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    gap: 20px; /* 아이콘 간 간격 */
  }

  .kakao {
    width: 80%;
  }

  .login_btn1{
    margin-top: 24px;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
  }
}
